canvas {
    border: 3px solid rgb(248, 30, 30) !important;
    overflow: scroll !important;
    scroll-behavior: auto;
    border-radius: 20px;
    cursor: url(../../../assets/pen.png), auto;
}

.canvasbar {
    border-radius: 20px;
    max-height: 100px;
    /* width: 600px; */
    background-color: bisque;
}