.sendmsg {
    position: absolute !important;
    bottom: 0 !important;
    
}

.chat {
    background: beige;
    border-radius: 20px;
}

hr{
    padding: 0px;
    margin: 0px;
  }

  .messages{
    background: beige;
   overflow: auto;
    border-radius: 20px;
    border: 3px solid green;
    height: 75vh;
  }