<h1 class="text-center text-primary">Welcome to my meeting application with collaborative whiteboard and chat.</h1>
<hr><br>
<div class="row about">
  <h2 class="text-center">About the project</h2>
</div>
<div class="row  text-primary" style="overflow: auto;">

  <div class="col-md-6">
    <div class=" client">
      <h3 class="text-center">Client side</h3>
      <p>The client side build with Angular.</p>
      <div class="row">
        <div class="col-md-6">
          <p>libraries That I used for client side:</p>
          <ul>
            <li>Bootstrap for style</li>
            <li>socket.io-client for real time comunication in whiteboard and chat</li>
            <li>file-saver for save whiteboard copy</li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>Main feathers</p>
          <ul>
            <li>Sign up and login with name and password</li>
            <li>Auto login when refresh and auto sign out when token expired</li>
            <li>collaborative whiteboard for drawing</li>
            <li>Chat with public rooms and private room with password</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class=" server">
      <h3 class="text-center">Server side</h3>
      <p>The server side build with NestJS.</p>
    </div>
  </div>
</div>