<h1 class="text-center text-primary">Welcome to my meeting application with collaborative whiteboard and chat.</h1>
<hr><br>
<div class="row about">
  <h3 class="text-center">About the project</h3>
</div>
<div class="row  text-primary" style="overflow: auto;">

  <div class="col-md-6">
    <div class=" client">
      <h3 class="text-center">Client side</h3>
      <p>The client side build with Angular.</p>
      <div class="row">
        <div class="col-md-6">
          <p>libraries That I used for client side:</p>
          <ul>
            <li>Bootstrap for style</li>
            <li>socket.io-client for real time comunication in whiteboard and chat</li>
            <li>file-saver for save whiteboard copy</li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>Main feathers</p>
          <ul>
            <li>Sign up and login with name and password</li>
            <li>Auto login when refresh and auto sign out when token expired</li>
            <li>collaborative whiteboard for drawing</li>
            <li>Chat with public rooms and private room with password</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class=" server">
      <h3 class="text-center">Server side</h3>
      <p>The server side build with NestJS.</p>
      <div class="row">
        <div class="col-md-6">
          <p>libraries That I used for server side:</p>
          <ul>
            <li>Typeorm for comunicate with the Database</li>
            <li>nestjs/websockets for real time comunication with whiteboard and chat</li>
            <li>pg for postgresql</li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>Main feathers</p>
          <ul>
            <li>Fully users api for Sign up and login</li>
            <li>Authentication with name and password and jwt token</li>
            <li>Permissions Sistem with protecrion by roles and Authentication</li>
            <li>Gateway for whiteboard drawing and for chat messages</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row about">
  <h3 class="text-center">About me</h3>
</div>


<footer id="footer">
  <!-- <section>
  <form method="post" action="#">
    <div class="fields">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
    </div>
    <ul class="actions">
      <li><input type="submit" value="Send Message" /></li>
    </ul>
  </form>
</section> -->
  <section class="split contact text-center text-primary">
    <section class="alt">
      <h3>Address</h3>
      <span>Petah Tikva, Israel</span>
      
    </section>
    <section>
      <h3>Phone</h3>
      <p><a href="#">053-421-4233</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="https:gmail.com" target="blank">betzalelkenig@gmail.com</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul>
        <span>My Portfolio</span>
        <li>
          <a href="https://betzalelkenig.github.io/" target="blank"></a>

          <span class="icon facebook"><i class="fa">B</i></span>
        </li>
        <li>
          <a href="https://github.com/BetzalelKenig/" target="blank"></a>
          <span class="icon github"><i class="fa fa-github"></i></span>
        </li>
        <li>
          <a href="https://il.linkedin.com/in/betzalel-kenig-502898192" target="blank"></a>
          <span class="icon linkedin"><i class="fa fa-linkedin"></i></span>
        </li>
      </ul>
    </section>
  </section>
</footer>





<!-- Copyright -->
<div id="copyright" style="text-align: center;">
  <ul>
    <li>&copy;</li>
  </ul>
</div>